<script>
$(document).ready(function(){
      if ($(".test").text() < 0) {
          $(".test").css("color", "red");
      } 
      else {
          $(".test").css("color", "black");
      }
    });
</script>
<style>
.paraph
{
color: red;
margin: 0;
}
/*.ui-bar-a{
    background-color: Plum;
    text-align: justify;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
}
p[title^="-"]::after {
    content: " - Remember this";
    background-color: yellow;
    color: red;
    font-weight: bold;
}*/

</style>