{% extends 'depenses/base_mobile_form.html' %}

{% block title %}Nouvelle transaction{% endblock %}
{% block header %}Transaction créée{% endblock %}

{% block body %}
			<br>
			<strong>Etablissement : </strong>{{ transaction_cree.etablissement }}<br>
			<strong>Date : </strong>{{ transaction_cree.transaction_date }}<br>
			<strong>Montant :</strong> {{ transaction_cree.transaction_montant }}€<br>
	<div class="ui-corner-all custom-corners">
		<div class="ui-bar ui-bar-a">

<a href="{% url 'home_dynamic' %}" class="ui-icon-plus ui-btn-icon-right">OK</a>

		</div>
				
{% endblock %}	        